---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
NamespaceIndentation: None
IndentCaseLabels: true
PointerAlignment: Right
DerivePointerAlignment: true
SortIncludes: false
SortUsingDeclarations: Never
MaxEmptyLinesToKeep: 2
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
EmptyLineBeforeAccessModifier: Never
SpaceAfterTemplateKeyword: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Always
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
...
