Source: fss-adsb
Section: main
Priority: optional
Maintainer: Scott Parlane <sjp@canterburyairpatrol.org>
Build-Depends: debhelper (>= 10), autotools-dev, pkg-config, systemd, libfss (>=0.8.0), libfss-client-ssl (>=0.8.0)
Standards-Version: 4.1.3

Package: fss-adsb
Architecture: any
Depends: libfss (>=0.8.0), libfss-client-ssl (>=0.8.0)
Description: ADS-B integration for FSS
